* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #121212;
  color: white;
  text-align: center;
  padding: 30px;
}

h1 {
  margin-bottom: 25px;
  font-size: 2.3rem;
  font-weight: 600;
}

h2 i {
  margin-right: 6px;
  color: #ff652f;
}

.btn i {
  margin-right: 5px;
}


.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

.card {
  background: #1e1e1e;
  padding: 22px;
  border-radius: 14px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
}

.full-row {
  grid-column: 1 / -1; /* Elle prend toute la largeur */
}

.card h2 {
  margin-bottom: 15px;
  font-size: 1.4rem;
}

.time-display {
  font-size: 2.4rem;
  margin: 15px 0;
  font-weight: bold;
}

input, button {
  outline: none;
  border: none;
}

input[type="number"], 
input[type="time"], 
input[type="text"] {
  padding: 10px;
  border-radius: 6px;
  width: 70%;
  margin: 8px 0;
  font-size: 1rem;
}

.time-input {
  width: 100%;
}

#minutes, #secondes {
  width: 80px;
}

.btn {
  padding: 10px 14px;
  border-radius: 6px;
  background: #ff652f;
  color: white;
  cursor: pointer;
  margin: 5px;
  transition: .2s;
}

.btn:hover {
  background: #ff8b64;
}

.small {
  padding: 4px 8px;
  font-size: .8rem;
}

#lap-list, #alarm-list {
  text-align: left;
  margin-top: 12px;
  font-size: 0.95rem;
}

#lap-list li, #alarm-list li {
  padding: 5px;
  border-bottom: 1px solid #333;
}
